$lod:orange;
$oznacene:lightgreen;
$exploze:palegoldenrod;
$voda:cyan;


.myboard {
  border: 3px black solid;
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
  user-select: none;



  .cell {
    width: 31.5px;
    height: 31.5px;
    border: 1px black solid;
    display: inline-block;

    background: $voda;



    &.lod {
      background: $lod;
    }
  }

  &.selectMode .cell:hover {
    background: $oznacene;

  }

  &.selectMode .cell.lod:hover {
    background: mix($lod, $oznacene);
  }
}