$lod:orange;
$oznacene:lightgreen;
$exploze:palegoldenrod;
$voda:cyan;


.board {}

.myboard {
  border: 3px black solid;
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
  user-select: none;

}

.cell {
  width: 31.5px;
  height: 31.5px;
  border: 1px black solid;
  display: inline-block;

  background: $voda;

  &.explosion {
    background: $exploze;
  }

  &.lod {
    background: $lod;
  }
}

.selectMode .cell:hover {
  background: $oznacene;

}

.selectMode .cell.lod:hover {
  background: mix($lod, $oznacene);

}

.shipSelect {
  border: dashed red 1px;
  grid-column: 6/12;

  h1 {
    margin: 10px auto 10px auto;
    font-size: 25px;
    text-align: center;
  }

  .nabidka {

    display: block;

    .lod {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      padding: 7px 0;
      margin: 3px 8px;

      img {
        border-radius: 5px;

      }

      p {
        margin-top: -5px;
        margin-bottom: 0;
      }

      text-align: center;

      display: inline-block;
      width: 150px;
      transition: transform 0.3s;

      &:not(.disabled):hover {
        transform: scale(1.05);
      }

      &.disabled {
        opacity: 0.6;
      }
    }
  }
}