$lod:orange;
$oznacene:lightgreen;
$exploze:palegoldenrod;
$voda:cyan;


.myboard {
  border: 3px black solid;
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
  padding: 0;
  user-select: none;



  .cell {
    width: 31.5px;
    z-index: 2;
    height: 31.5px;
    border: 1px black solid;
    display: inline-block;

    background: $voda;
    cursor: pointer;


    &.lod {
      background: $lod;
    }
  }

  &.selectMode .cell:not(.lod):hover {
    background: $oznacene;

  }

  &.selectMode .cell:not(.lod):hover {
    background: mix($lod, $oznacene);

  }


}

.nahled {
  position: absolute;
  padding: 0;
  opacity: 0.8;



  .cell {
    width: 31.5px;
    height: 31.5px;
    border: none;
    // visibility: collapse;
    display: inline-block;
    background: none;
    // z-index: -1000;
    // background: $voda;
    border: 1px transparent solid;

    // .placeable {
    //   background: darkgreen;

    // }
    // background: pink;

    &.lod {
      visibility: visible;
      border: 1px black solid;

      z-index: 3;


      // background: $lod;
      background: red;
    }

    &.nic {
      background: yellow;

    }

  }

  &.placeable {
    .lod {
      visibility: visible;
      border: 1px black solid;

      z-index: 3;


      // background: $lod;
      background: darkgreen;
    }
  }
}