.container {
  width: 1024px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
  overflow: hidden;
  height: 800px;
  background: lightgray;

}

.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.App {}